
.game-board#flipCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    height: 400px;
    width: 400px;
}
@media only screen and (max-width: 600px) {
    .game-board#flipCard {
        width: 300px;
        height: 300px;
    }
}
#game2, #game1, #game3 {
    display: none;
}
.card {
    width: calc(100% / 4 - 10px * 3 / 4);
    height: calc(100% / 4 - 10px * 3 / 4);
    border-radius: 5px;
    transform: rotateY(0deg);
    transition: 0.3s;
    font-size: 36px;
    border: 0;
    padding: 0;
}
.card:not(.flipped):hover {
    background-color: rgb(215, 215, 215);
}

.card.flipped .inner {
    transform: rotateY(-180deg);
}
.card.matched .card-back {
    background-color: rgba(0, 255, 0, 0.458);
    border: 2px sold white;
}
.hidden {
    display: none !important;
}
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: 2px solid black;
    border-radius: 5px;
}
.card-front, .card-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}