label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    text-align: left !important;
}
input:not([type="checkbox"]), textarea {
    max-width: 120px;
    outline: none;
    padding: 7px 10px 7px 10px;
    width: 100%;
    font-size: 14px;
    color: rgb(51, 65, 85);
    border-radius: 5px;
    border: 1px solid rgb(183, 183, 183);
    transition: all .3s ease;
    box-shadow: inset 2px 2px 6px rgb(220, 220, 220), 0 0 0 transparent;
    resize: none;
}
.gambling-window {
    display: none;
}
.coin {
    width: 100px;
    height: 100px;
    transform: rotateY(0deg);
    transition: 0.3s;
    font-size: 24px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    position: relative;
    z-index: 999;
}
.coin.flipped .inner {
    transform: rotateY(-180deg);
}
.inner-coin {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: 5px solid black;
    border-radius: 50%;
    transform: rotateX(0) rotateY(0);
    z-index: 999;
}
.inner-coin.flip {
    animation: flipCoin 2s infinite cubic-bezier(0.4, 0, 0.2, 1) forwards
}
.coin-head, .coin-tails {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: silver;
  border-radius: 50%;
}
.coin-tails {
  transform: rotateY(180deg) rotate(180deg);
}
@keyframes flipCoin {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
    }
    50% {
        transform: rotateX(3960deg) rotateY(0deg) rotateZ(0) translateY(-00px) scale(5);
    }
    100% {
        transform: rotateX(0deg) rotateY(00deg) rotateZ(0) translateY(-00px) scale(1);
    }
}