* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
@font-face {
  font-family: "Seven_Segment";
  src: url("/TRUEMonospacedSevenSegment.ttf");
}
:root {
    --font-family: "Quicksand", sans-serif;
    --accent-code: 57, 156, 255;
    --accent: rgb(var(--accent-code));
    --text-color: rgb(27, 27, 27);
    --bg-surface: #bbedff;
    --bg-default: #efefef;
    
    --shadow-default: #0000002b;
    --transition-fast: .2s ease;
    --transition-normal: .3s cubic-bezier(.4, 0, .2, 1);
    --transition-smooth: .4s cubic-bezier(.23, 1, .32, 1);
}
html, body {
    background-color: var(--bg-default);
    z-index: 1;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
}
header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--bg-default);
    box-shadow: 0 5px 5px #0000002b;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 95%;
    }
}
main {
    padding: 60px 0 0 0;
    position: relative;
    z-index: -1;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.78, -1.29, 0.01, 1.34);
    top: 0;
}
section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 95%;
}
.nav-link {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all .2s ease;
    font-weight: 500;
    box-shadow: 4px 6px 4px #7272723b, -2px -3px 4px #ffffff1e, inset 0px 0px 0px #44444489, inset 0px 0px 0px #ffffff21;;
    color: rgb(66, 66, 66);
    background-color: white;
    font-size: 15px;
    border: 2px solid #00000035;
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 2rem
}

.nav-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    width: 95%;
    max-width: 1440px;
}

.nav-item {
    position: relative
}
.nav-link:hover, .nav-link.active {
    border: 2px solid var(--accent);
    color: var(--accent);
    box-shadow: 0px 0px 0px #00000089, 0px 0px 0px #00000021, inset 4px 6px 6px #7e7e7e89, inset -2px -3px 4px #ffffff21;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;    
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}
button span {
    position: absolute;
    border-radius: 50%;
    background: #0080ff;
    padding: 50%;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none;
    animation: animate 0.3s linear forwards;
}
@keyframes animate {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.7;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }

}
.flip {
    rotate: 180deg;
}
.primary {
    border: 2px solid rgb(255, 255, 255);
    background-color: var(--accent);
    background: var(--accent);
    box-shadow: inset -8px -8px 16px #22222233, inset 6px 6px 12px #fff3, 0 8px 25px rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 210, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, .1) !important;
    color: white;
}
.primary span {
    background-color: white;
}
button.important:hover {
    color: rgb(255, 0, 0) !important;
    border-color: rgb(255, 0, 0);
    box-shadow: inset -4px -4px 3px #43000000, inset 3px 3px 6px rgb(255 0 0 / 14%), 0 2px 3px rgb(255 0 0 / 24%), 0 0 20px rgb(255 0 0 / 10%);
}
.secondary {
    color: #343434;
    background: #ffffff;
    border: 1px solid rgb(183, 183, 183);
    box-shadow: inset -8px -8px 16px rgba(224, 224, 224, 0.6), inset 6px 6px 12px #ffffff00, 0 0px 10px #8f8f8f4d;
    transition: 0.5s;
}

.secondary:hover {
    color: var(--accent);
    border-color: var(--accent);
    background-color: white;
    box-shadow: inset -8px -8px 16px rgba(var(--accent-code), 0.1), inset 6px 6px 12px #ffffff00, 0 0px 10px rgba(var(--accent-code), 0.3);
}
.tertiary {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}
.tertiary:hover {
    filter: brightness(0.7);
    color: var(--accent);
}
.small-info {
    font-size: 13px;
    color: var(--text-color);
    opacity: 0.8;
}
.hidden {
    display: none !important;
}
.important {
    display: inline;
    color: red !important;
}
.scale {
    transform: scale(1.25);
}
.display {
    font-family: "Seven_Segment";
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.time {
    font-family: inherit;
    font-size: 17px;
    line-height: 70%;
    position: relative;
    color: rgb(0, 0, 0);
    z-index: 1;
}
.date {
    font-family: inherit;
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 70%;
    z-index: 1;
    position: relative;
}
.actual {
    font-family: inherit;
}
.main-section .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-section .logo-text {
  font-size: 72px;
  background: -webkit-linear-gradient(var(--accent), rgb(160, 255, 225));
  background-clip: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-section .desc {
    font-size: 24px;
    opacity: 0.7;
}
.main-section div {
    font-size: 60px;
    font-weight: bold;
}
.menu-section .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.game-menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container .title {
    font-size: 38px;
}
.game-button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    min-width: 128px;
    font-size: 24px;
}
.primary#shop {
    padding: 0;
    width: 36px;
    height: 36px;
    font-size: 16px;
    display: inline;
    margin-left: 10px;
}
.gameShard {
    position: relative;
    font-size: 20px;
}
.shard {
    color: var(--accent);
    font-size: 600;
}
@media only screen and (max-width: 660px) {
    .display {
        display: none;
    }
    .game-button {
        font-size: 15px;
    }
    .main-section div {
        font-size: 30px;
        font-weight: bold;
    }
    .main-section .logo-text {
        font-size: 35px;
        font-weight: bold;
    }
    .small-info {
        font-size: 15px !important;
    }
}